@font-face {
    font-family: "Open Sans";
    src: url("./../fonts/OpenSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans Bold";
    src: url('./../fonts/OpenSans-Bold.ttf') format("truetype");
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("./../fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
}


.mob {
    display: none;
}

#mobile {
    display: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffff;
    height: 9vh;
    width: 100%;
    position: fixed;
    top: 0;
}

.header .navbar-toggle {
    display: none;
}

.logo {
    padding: 30px;
}



.menu ol {
    display: flex;
}

.menu ol li {
    display: flex;
    list-style: none;
    padding: 25px;
}

.menu ol li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-family: "Open Sans Bold";
    font-size: 1.5em;
    font-weight: bolder;
}



.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.maintext {
    margin-top: -20vh;
    font-family: "Open Sans Bold";
    font-size: 3.5em;
    margin-left: 3%;
    padding-bottom: 15px;
    font-weight: bolder;
    color: #303030;
    width: 77%;
}

.link {
    border-bottom: 3px solid #5726BE;
}

.maintext2 {
    margin-left: 3%;
    font-size: 3rem;
    color: #8F8F8F;
}

.container2 {
    height: 100vh;
    display: flex;

}

.box1 {
    height: 100vh;
    width: 60vw;
    background-color: #FCFCFC;
}

.box2 {

    height: 100vh;
    width: 40vw;
    background-color: #5726BE;
}

.about {
    height: 100vh;
    width: 100%;
    background: #202020;
    color: #FCFCFC;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.member {
    background-color: #FCFCFC;
    width: 100%;
    height: max-content;
    /* margin-top: 70%; */
}


.team {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    grid-gap: 2em 2em;
    padding: 5%;
    margin-top: 15px;

}

.tm {
    margin: 0 auto;

}

.tm img {
    height: 16rem;
    width: 16rem;
    border-radius: 50%;
    border: solid 3px rgb(69, 68, 70);
}

.tm .name {
    padding: 20px;
    font-family: "Open Sans Bold";
    text-align: center;
    margin: 0 auto;
    font-size: 1.2rem;
}


.tm .designation {

    font-family: "Open Sans Bold";
    text-align: center;
    font-size: 1.2rem;
}


.container2 .box1.box1text {
    font-family: "Open Sans Bold";
    font-size: 1.4em;
    display: flex;
    justify-content: space-between;
}

.container2 .box1 .box1text .highlight {
    color: #6942BC;
    font-family: "Open Sans Bold";
    font-size: 1.8em;
}

.container2 .box1 .box1text h2 {
    color: #6942BC;
    font-family: "Open Sans Bold";
    font-size: 2em;
    padding: 50px;
}

.container2 .box1 .box1text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}

.container2 .box1 .box1text .room-no {
    padding: 10px 40px 15px 40px;
    font-size: 1.1em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}


.about h2 {
    color: #6942BC;

    font-family: "Open Sans Bold";
    font-size: 3em;
    font-weight: bolder;
    font-style: normal;
}

.about p {
    padding: 15px 80px 15px 80px;

    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

footer {
    color: #FCFCFC;
    font-size: 1.4em;
    background-color: #6942BC;
    height: fit-content;
}

.main_footer {
    display: flex;
    flex-direction: column;
}

footer .footer-content {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .footer-content .address {
    padding-left: 50px;
}

footer .footer-content .contact {
    padding-right: 50px;
    text-align: right;
}

footer .highlight {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;

}

footer .widget {
    display: flex;
    flex-direction: row;
    align-content: space-between;

    padding-left: 30px;
    padding-bottom: 20px;
    font-style: italic;
    font-size: 1em;
}

.fa {
    color: black;

}


.icons {
    padding-right: 3%;
    padding-bottom: 1%;
    margin-left: auto;
}

.developed {
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}




@media only screen and (max-width: 768px) {
    .header .navbar-toggle {
        display: block;
        height: 35px;
        padding: 15px;
        margin-top: -3%;
        z-index: 2;
    }

    .header .menu {
        display: none;
    }

    .logo img {
        padding: 6px;
        margin-right: 20px;
    }


    .container {
        height: 100vh;
    }

    .container .maintext {
        font-family: "Open Sans Bold";
        font-size: 1.1em;
        margin-top: -40vh;
        font-weight: bolder;
        padding: 1%;
    }


    .container .maintext2 {
        padding-top: 25px;
        font-size: 1.2rem;
        color: #8F8F8F;
        padding: 2%;
    }

    .container2 {
        display: flex;
        flex-direction: column;
    }


    .box1 {
        height: 100vh;
        width: 100%;
        background-color: #FCFCFC;
    }

    .box2 {
        width: 100%;
        height: 100vh;
        background-color: #5726BE;
    }


    .box1text {
        font-family: "Open Sans Bold";
        padding: 20px;
        font-size: 1em;

    }

    .container2 .box1 .box1text .highlight {
        color: #6942BC;
        font-family: "Open Sans Bold";
        font-size: 1em;
    }

    .container2 .box1 .box1text h2 {
        color: #6942BC;
        font-family: "Open Sans Bold";
        font-size: 1.5em;
    }

    .container2 .box1 .box1text {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-between;
    }

    .container2 .box1 .box1text .room-no {
        padding: 7px 40px 7px 40px;
        font-size: 1em;
        font-weight: bold;
        font-style: italic;
        text-align: center;
    }


    .about {
        height: 100vh;
        width: 100%;
    }

    .about h2 {
        color: #6942BC;

        font-family: "Open Sans Bold";
        font-size: 1.5em;
        font-weight: bolder;
        font-style: normal;
    }

    .about p {
        padding: 2%;
        height: max-content;
        font-size: 1.2em;
        font-weight: bold;
        font-style: italic;
        text-align: center;
    }

    #contact {
        height: fit-content;
    }

    .navbar-toggle {
        display: none;
    }


    .mobile {
        background-color: white;
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #contact .footer-content {
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }

    #mobile ol li {
        font-family: "Open Sans Bold";
        text-align: center;
        margin: 60px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1%;
        font-size: 2em;
        cursor: pointer;
    }



    #mobile ol li a {
        text-decoration: none;
        list-style: none;
        color: black;
        font-weight: bolder;
    }


    .team {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px, 50px;
        padding: 20%;

    }

    .tm img {
        height: 15rem;
        width: 15rem;
        border-radius: 50%;
        border: solid 2px #303030;
    }

    .tm .name {
        padding: 20px;
        margin-left: -10%;
        font-family: "Open Sans Bold";
        text-align: center;
        font-size: 1.2rem;
    }

    .icons {
        display: flex justify-content: space-between;
        padding-bottom: 5%;

    }

    .tm .designation {
        margin-left: -10%;
        font-family: "Open Sans Bold";
        text-align: center;
        font-size: 1.2rem;
    }

    .main_footer {
        height: max-content;
        display: flex;
    }



    .developed {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .icons {
        padding: 5%;
        width: 30vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
    }


    footer .widget {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        padding-left: 30px;
        padding-bottom: 20px;
        font-style: italic;
        font-size: 1em;
    }